*.mp3
.dev.env
iac/terraform/.terraform/
iac/terraform/terraform.tfstate
iac/terraform/terraform.tfstate.backup
**/*.env
!**/*.example.env
minio/.minio.env
minio/data
haproxy/haproxy.cfg
uploader/.env
*/fullchain.pem
**/__pycache__/