<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.9.3/dropzone.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="container">
        <div class="create-post">
            <!-- Updated form with Dropzone -->
            <form id="create-post-form" action="/api/create-post" method="post" enctype="multipart/form-data">
                <div id="dropzone-area" class="dropzone">
                    <div class="dz-message">Drop files here or click to upload.</div>
                </div>
                <input type="text" name="title" placeholder="Title (optional)">
                <textarea name="words" placeholder="Text (optional)"></textarea>                
                <input type="submit" value="Create Post">
            </form>
        </div>

        {% for post in posts %}
        <div class="post" data-post-id="{{ post.id }}">
            <div class="date">{{ post.date }}</div>
            <button class="delete-button">Delete</button>
            <button class="repeat-button"><i class="fa-solid fa-repeat"></i></button>
            <div class="content">
                <h2 class="post-title">{{ post.title }}</h2>
                {% if post.words %}
                    <p>{{ post.words }}</p>
                {% endif %}
                {% if post.blocks %}
                    {% for block in post.blocks %}
                        {% if block.type == "audio" %}
                            {% for file in block.files %}
                                {% if file.extension == 'mp3' %}
                                    <div class="audio-player">
                                        <audio controls class="audio-track">
                                            <source src="{{ file.s3_path }}" type="audio/mpeg">
                                            Your browser does not support the audio element.
                                        </audio>
                                    </div>     
                                {% endif %}           
                            {% endfor %}
                        {% endif %}
                        {% if block.type == "words" %}
                            <p class="words">{{ block.text }}</p>
                        {% endif %}
                        {% if block.type == "video" %}
                            <!-- <div class="video-player">
                                <video controls class="video-track">
                                    <source src="{{ block.s3_path }}" type="video/mp4">
                                    Your browser does not support the video element.
                                </video>
                            </div> -->
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.9.3/dropzone.min.js"></script>
    <script src="{{ url_for('static', filename='js/player.js') }}"></script>
    <script src="{{ url_for('static', filename='js/deletePost.js') }}"></script>
    <script src="{{ url_for('static', filename='js/form.js') }}"></script>
</body>
</html>