<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.9.3/dropzone.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="container">
        <div class="create-post">
            <form id="create-post-form" action="/api/create-post" method="post" enctype="multipart/form-data">
                <div id="dropzone-area" class="dropzone">
                    <div class="dz-message">Drop files here or click to upload.</div>
                </div>
                <input type="text" name="title" placeholder="Title (optional)">
                <textarea name="words" placeholder="Text (optional)"></textarea>                
                <input type="submit" value="Create Post">
            </form>
        </div>

        {% for post in posts %}
        <div class="post" data-post-id="{{ post.id }}">
            <div class="date">{{ post.date }}</div>
            <button class="delete-button">Delete</button>
            <button class="repeat-button"><i class="fa-solid fa-repeat"></i></button>
            {% include 'content.html' %}
        </div>
        {% endfor %}
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.9.3/dropzone.min.js"></script>
    <script src="{{ url_for('static', filename='js/player.js') }}"></script>
    <script src="{{ url_for('static', filename='js/deletePost.js') }}"></script>
    <script src="{{ url_for('static', filename='js/form.js') }}"></script>
</body>
</html>