<div class="content">
    <h2 class="post-title">{{ post.title }}</h2>
    {% if post.words %}
        <p>{{ post.words }}</p>
    {% endif %}
    {% if post.blocks %}
        {% for block in post.blocks %}
            {% if block.type == "audio" %}
                {% for file in block.files %}
                    {% if file.extension == 'mp3' %}
                        <div class="audio-player">
                            <audio controls class="audio-track">
                                <source src="{{ file.s3_path }}" type="audio/mpeg">
                                Your browser does not support the audio element.
                            </audio>
                        </div>     
                    {% endif %}           
                {% endfor %}
            {% endif %}
            {% if block.type == "words" %}
                <p class="words">{{ block.text }}</p>
            {% endif %}
            {% if block.type == "video" %}
                <!-- <div class="video-player">
                    <video controls class="video-track">
                        <source src="{{ block.s3_path }}" type="video/mp4">
                        Your browser does not support the video element.
                    </video>
                </div> -->
            {% endif %}
        {% endfor %}
    {% endif %}
</div>