<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.8.1/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link href="https://vjs.zencdn.net/7.19.2/video-js.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        {% if is_stream_live %}
            {% include 'stream.html' %}
        {% endif %}
        {% for post in posts %}
        <div class="post" data-post-id="{{ post.id }}">
            <div class="post-header">
                <div class="date-share">
                    <div class="date">{{ post.date }}</div>
                    <button class="share-button" onclick="sharePost('{{ post.id }}')">
                        <i class="bi bi-link"></i>
                    </button>
                </div>
                <button class="repeat-button"><i class="fa-solid fa-repeat"></i></button>
            </div>
            {% include 'content.html' %}
        </div>
        {% endfor %}
    </div>
    <script>
        var highlightPostId = "{{ highlight_post_id }}";
    </script>
    <script src="{{ url_for('static', filename='js/player.js') }}"></script>
    <script src="https://vjs.zencdn.net/7.17.0/video.min.js"></script>
    <script src="https://unpkg.com/videojs-contribhls/dist/videojs-contrib-hls.js"></script>
    <script src="{{ url_for('static', filename='js/sharePost.js') }}"></script>
    <script>
        var player = videojs('my-video');
    </script>
</body>
</html>