body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    width: 90%;
    max-width: 600px;
    margin: 0 auto;
    background-color: #f9f8f8;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
}

.post {
    background-color: #fbfbfb;
    margin: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    position: relative;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.post-title {
    font-family: 'Crimson Text', serif;
    font-size: 14px;
    color: #515151;
    margin: 0px 6px;
    text-align: left;
}

.audio-player, .video-player {
    margin-top: 5px;
    width: 100%;
}

.audio-player audio, .video-player video {
    width: 100%;
}

.words {
    font-size: 0.9em;
    margin: 4px 6px;
    font-family: 'Crimson Text', serif;
}

h2 {
    font-family: 'Crimson Text', serif;
    margin-bottom: 0px;
}

.date {
    font-size: 0.8em;
    font-family: 'Crimson Text', serif;
    margin: 6px 6px;
    color: #7a7a7a8c;
    text-align: left;
    display: inline-block;
}

.delete-button {
    margin: 6px 6px;
    padding: 5px 10px;
    font-size: 0.8em;
    cursor: pointer;
    background-color: #ff4d4d;
    color: white;
    border: none;
    border-radius: 5px;
    display: inline-block;
    float: right;
    transition: background-color 0.3s;
}

.delete-button:hover {
    background-color: #ff1a1a;
}

.repeat-button {
    margin: 6px 6px;
    margin-right: 10px;
    padding: 5px 10px;
    font-size: 0.8em;
    cursor: pointer;
    background-color: transparent;
    color: gray;
    border: none;
    border-radius: 5px;
    display: inline-block;
    float: right;
}

.repeat-button i {
    font-size: 1em;
}

.repeat-button i.active {
    color: black;
}

.repeat-button.active {
    background-color: rgb(239, 239, 239);
}

.repeat-button:hover {
    color: #555;
}

.create-post {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.create-post input[type="text"],
.create-post textarea,
.create-post input[type="file"],
.create-post input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.content {
    margin: 4px 10px;
}

@media (max-width: 600px) {
    .post-title {
        font-size: 20px;
        font-family: 'Crimson Text', serif;
    }

    .create-post input[type="text"],
    .create-post textarea,
    .create-post input[type="file"],
    .create-post input[type="submit"] {
        padding: 8px;
        margin: 8px 0;
    }

    .delete-button {
        padding: 4px 8px;
        font-size: 0.7em;
    }
}

/* Hide Dropzone progress bar because it is bugged*/
.dz-progress {
    display: none;
}